.contact-form {
 width: 100%;
  margin:  auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group textarea {
  resize: vertical;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #ed9329 ;
  border: none;
  border-radius: 5px;
  cursor: pointer;
 
}

button:hover {
  background-color:  black;
  color: white;
}
.container-button{
    display: flex;
    justify-content: center;
  
}

@media(max-width:550px){
  .contact-form{
    width: auto;
  }
}


