/* Image.css */

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .image img {
    width: 100%;
    height: auto;

    transition: transform 0.2s ease;
  }
  
  .image:hover img {
    transform: scale(1.1);
  
  }
  
  /* Clases de tamaño para diferentes tamaños de imagen */
  .image.small {
    grid-row: span 1;
    grid-column: span 1;
  }
  
  .image.medium {
    grid-row: span 2;
    grid-column: span 2;
  }
  
  .image.large {
    grid-row: span 3;
    grid-column: span 3;
  }
  @keyframes neon {
    from {
      text-shadow: 0 0 10px #ff6600, 0 0 20px #ff6600, 0 0 30px #ff6600, 0 0 40px #ff6600, 0 0 50px #ff6600, 0 0 60px #ff6600, 0 0 70px #ff6600;
    }
    to {
      text-shadow: 0 0 20px #ff6600, 0 0 30px #ff6600, 0 0 40px #ff6600, 0 0 50px #ff6600, 0 0 60px #ff6600, 0 0 70px #ff6600, 0 0 80px #ff6600;
    }
  }
  