.container-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.title-photos{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 50px 20px 20px 20px;



}
.box-title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 50px 20px 20px 20px;
}

.description-photos {
    font-size: larger;
    display: flex;
    width: 85%;
    justify-content: center;
    text-align: center;
    margin: 50px;


}

.container-3boxes {
    display: flex;
    height: auto;
}

.container-boxImg {

    background-color: #ed9329;
    border-radius: 10px;
    padding: 5px;
    margin: 18px;
    color: aliceblue;
    text-align: center;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);

}

.welcome {
    font-size: 20px;
    width: 70%;
}


.my-galery {

    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: center;
}

.container-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem 2rem 8rem 2rem;
    padding: 1rem;
    border: solid white;
    border-radius: 20px;
    align-items: center;
}

.title-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
    font-size: 20px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);


}

.img-waffle {
    width: 400px;
    height: auto;
    margin-right: 100px;
}

.title-menu {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.title-title {
    font-size: 25px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

@media(max-width:970px) {

    .img-waffle {
        width: 300px;
        height: auto;
        margin-right: 0px;
    }

    .welcome {
        font-size: 15px;
        width: 20rem;
        height: 10rem;
       
    }

    .container-contact {
        display: flex;
        flex-direction: column;

    }

    .container-3boxes {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
    }


}


@media(max-width:550px) {

    .img-waffle {
        width: 190px;
        height: 190px;
    }

    .container-title {
        width: 100px;
    }

     .box-title {
        margin-top:20px ;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tt{
        font-size: larger;
    }
    

    .title-title {
        font-size: 20px;
    }

   .title-photos{
    text-align: center;
   }

   .description-photos{
    width: auto;
    font-size: medium;
   }
    
}