.floating-whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .floating-whatsapp-button:hover {
    background-color: #128C7E;
    transform: scale(1.1);
  }
  