.img-logo { 
  width: 7rem;
  height: 7rem;
  border-radius: 1000px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.9);
  animation: zoom 5s infinite;
}

@keyframes zoom {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.2);
  }
  100% {
      transform: scale(1);
  }
}

.container-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 2rem 5px 4px 5px;
  font-size: large;
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  list-style: none;
  margin-right: 3rem;
}

.flex-1 {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.img-logo,
.menu:hover {
  cursor: pointer;
}

a.navegation {
  color: black;
  text-decoration: none;
}

/* Estilos para pantallas menores de 970px */
@media (max-width: 970px) {
  .menu {
      gap: 1rem;
  }
}

/* Estilos para pantallas menores de 640px */
@media (max-width: 550px) {
  .btn-ghost {
      display: none;
  }
  

}

/* Estilos para pantallas menores de 550px */
/* navbar.css */

/* Estilo para el menú hamburguesa */
.hamburger-menu {
  display: none; /* Ocultar por defecto en pantallas grandes */
  cursor: pointer;
}

@media (max-width: 550px) {
  .hamburger-menu {
    display: block; /* Mostrar menú hamburguesa en pantallas pequeñas */
  }

  .menu {
    display: none; /* Ocultar menú normal en pantallas pequeñas */
  }

  .menu.mobile-menu {
    display: flex; /* Mostrar menú desplegable cuando está abierto */
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute; /* Posicionar el menú desplegable */
    top: 60px; /* Ajusta según el tamaño de tu barra de navegación */
    right: 0;
    background: #fff; /* Ajusta el color de fondo */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Añade una sombra */
  }

  .menu.mobile-menu li {
    padding: 10px; /* Espaciado entre elementos del menú */
  }

  .menu.mobile-menu a {
    text-decoration: none;
    color: #333; /* Color del texto del menú */
  }
}

/* Opcional: clase activa para el menú hamburguesa */
.hamburger-menu.active {
  background-color: red;
  /* Estilos cuando el menú hamburguesa está activo */
}
