:root {
  --background-svg: url('./assets/transparencia.svg');
  font-family: "Playwrite GB S", cursive;
  color-scheme: light dark;
  color: black;
  background-color: whitesmoke;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

body::before {
  content: '';
  background-image: var(--background-svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /* Asegura que cubra todo el área */
  opacity: 0.09; /* Ajusta la opacidad según tus necesidades */
  position: fixed; /* Cambiado a fixed para asegurar que cubra toda la ventana */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Envía la imagen detrás del contenido */
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Asegura que el body tenga al menos la altura de la ventana */
  position: relative; /* Necesario para el posicionamiento absoluto del pseudo-elemento */
}

@media (max-width: 550px) {
  html, body {
    overflow-x: hidden; /* Evitar desplazamiento horizontal */
  }

  .container-navbar {
    overflow: hidden; /* Evitar el desbordamiento del contenedor */
  }

  .mobile-menu {
    overflow: hidden; /* Evitar el desbordamiento dentro del menú hamburguesa */
  }
}
