:root {
  --background-svg: url('./assets/transparencia.svg');
  font-family: "Playwrite GB S", cursive;
  color-scheme: light dark;
  color: black;
  background-color: whitesmoke;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body::before {
  content: '';
  background-image: var(--background-svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.09;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
}

/* @media (max-width: 550px) {

  html,
  body {
    overflow-x: hidden;

    .container-navbar {
      overflow: hidden;

      .mobile-menu {
        overflow: hidden;
      }
    }
  }
} */
@media (max-width: 550px) {
  html,
  body {
    overflow-x: hidden;
  }

  .container-navbar {
    overflow: hidden;
  }

  .mobile-menu {
    display: block; /* Asegúrate de que el menú hamburguesa sea visible en móviles */
  }
}
