.map-container {
  display: flex;
  justify-content: center;
  align-items: center;

}


  .map-iframe {
    width: 400px;
    height: 345px;
    border: 0;
    border-radius: 20px;
    margin: 5px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  }

@media(max-width:970px) {

  .map-iframe {
    width: 250px;
    height: auto;

  }


}